*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	cursor: default;
}
body
{
	font-family: 'Electrolize', sans-serif;
	color: #fff;
	font-size: 16px;
	
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
}
#container
{
	min-width: 1024px;
	max-width: 1920px;
}
body,
#curtain,
.veil,
.darkBlueBackground
{
	background-color: #09154f;
}
.largeText { font-size: 20px }
#curtain
{
	position: fixed;
	width: 100%;
	height: 1080px;
	z-index: 50;
	padding: 5px;
}
#curtain h1,
#curtain h2,
#curtain h3
{
	text-align: center;
}
#curtain h2,
#curtain h3
{ font-family: 'Oswald', sans-serif }
#curtain h1 { font-size: 60px }
#curtain h2 { font-size: 26px }
#curtain h3 { font-size: 16px; font-weight: 400; }
.pinpointRect,
.infectionRateHighlight,
.outbreaksHighlight,
.autoTreatCircle,
.autoTreatCureMarker,
#quarantineArea
{
	pointer-events: none;
}

.pinpointRect
{
	position: absolute;
	z-index: 1;
	border: 2px solid red;
}
#boardImg, #boardContainer
{
	position: absolute;
	width: 80.5%;
}
#boardImg
{
	z-index: 0;
}
#boardContainer
{
	z-index: 1;
	font-size: 0;
	overflow: hidden;
}
#boardContainer > div,
#boardContainer > .pawn,
#boardContainer > .researchStation,
#boardContainer > .diseaseCube
{ position: absolute }
#boardContainer > .diseaseCube.infecting,
#boardContainer > .diseaseCube.removing
{ z-index: 7 }

#travelPathArrowContainer
{
	position: relative;
	z-index: 6;
	opacity: 0.7;
	filter: drop-shadow(0px 0px 3px #fff);
	pointer-events: none;
}
#travelPathArrow.invalid { background-color: darkred !important }
#boardContainer > .pawn
{
	z-index: 4;
	width: 1.6%;
}
.pawnArrow,
#resilientPopulationArrow,
#governmentGrantArrow
{
	width: 3%;
	background-color: transparent;
	z-index: 7;
	pointer-events: none;
}
.pawnArrow.dispatch { width: 2% }
.pawnArrow > div,
#resilientPopulationArrow > div,
#governmentGrantArrow > div
{
	width: 100%;
	height: 100%;
}
.pawnArrow > div,
#governmentGrantArrow > div
{
	clip-path: polygon(50% 30%, 100% 10%, 50% 100%, 0 10%);
}
.pawnArrow.dispatch > div { clip-path: polygon(50% 30%, 100% 10%, 50% 100%, 0 10%) }
#resilientPopulationArrow,
#governmentGrantArrow
{
	width: 4%;
	filter: drop-shadow(0px 0px 3px #fff);
}
#resilientPopulationArrow > div { clip-path: polygon(50% 0%, 100% 90%, 50% 70%, 0 90%) }
.researchStation
{
	z-index: 3;
	width: 3%;
}
.researchStation img
{
	width: 100%;
	pointer-events: none;
}
.researchStation.relocatable
{
	cursor: pointer;
}
.grantStation
{
	z-index: 6;
	cursor: pointer;
	opacity: 0.7;
}
.diseaseCube
{
	z-index: 5;
	background-color: transparent !important;
}
.cubeToRemove
{
	cursor: pointer;
	z-index: 6;
}
.diseaseCube *
{
	width: 100%;
	height: 100%;
	margin-bottom: -100%;
	pointer-events: none;
}
.cubeSlash, .cubeBackground { background: #fff }
.diseaseCube.y .cubeSlash, .diseaseCube.y .cubeBackground { background: #000 }
.cubeSlash { clip-path: polygon(6% 0, 0 6%, 45% 50%, 0 94%, 6% 100%, 50% 56%, 94% 100%, 100% 94%, 56% 50%, 100% 6%, 94% 0, 50% 44%) }
.cubeBackground { clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) }
.cubeTop { clip-path: polygon(50% 4%, 94% 25%, 50% 48%, 6% 25%) }
.cubeLeft { clip-path: polygon(4% 74%, 48% 96%, 48% 52%, 4% 28%) }
.cubeRight { clip-path: polygon(96% 74%, 52% 96%, 52% 52%, 96% 28%) }

.diseaseCube.y .cubeTop,
.diseaseCube.y .cubeRight,
.diseaseCube.y .cubeLeft
{ background: #fded3c }
.yBorder { border: 2px solid #fded3c }
.diseaseCube.r .cubeTop,
.diseaseCube.r .cubeRight,
.diseaseCube.r .cubeLeft
{ background: #ef282a }
.rBorder { border: 2px solid #ef282a }
.diseaseCube.u .cubeTop,
.diseaseCube.u .cubeRight,
.diseaseCube.u .cubeLeft
{ background: #405fb1 }
.uBorder { border: 2px solid #405fb1 }
.diseaseCube.b .cubeTop,
.diseaseCube.b .cubeRight,
.diseaseCube.b .cubeLeft
{ background: #212121 }
.bBorder { border: 2px solid #000 }

.groupInfRate .diseaseCube
{
	vertical-align: middle;
	display: inline-block;
	width: 9%;
	margin-right: 4%;
}
.diseaseCube.w * { background-color: #fff }
.diseaseCube.w .cubeBackground { background-color: #000 }

.hidden,
#btnCancelAction.hidden
{ display: none }
.y:not(.diseaseCube)
{
	background: linear-gradient(to right,
		#cab900,	
		#fded3c,
		#fded3c,
		#cab900);
	color:black;
}
.u:not(.diseaseCube)
{
	background: linear-gradient(to right,
		#3254af,	
		#405fb1,
		#405fb1,
		#3254af)
}
.b:not(.diseaseCube)
{
	background: linear-gradient(to right,
		#0e0e0e,	
		#212121,
		#212121,
		#0e0e0e)
}
.r:not(.diseaseCube):not(span)
{
	background: linear-gradient(to right,
		#b10e10,	
		#ef282a,
		#ef282a,
		#b10e10)
}
.white{background-color:#fff}
.black{background-color:#000}
.epidemic:not(.substep),
.epidemicFull
{
	background: linear-gradient(to right,
		#007738,	
		#00a94f,
		#00a94f,
		#007738)
}
.lightGreen { color: #00a94f }
.lightGreenBackground { background-color: #00a94f }
.darkGreenBorder { border: 2px solid #01863f }
.researchStationBackground { background-color: #e9cf94 }
span.r, p.r {color: #ef282a; background: none !important }
.eventCard,
.eventCardFull
{
	background: linear-gradient(30deg, 
		gray,
		#fff,
		gray,
		#fff,
		gray,
		#fff,
		gray,
		#fff,
		gray);
	color: #000;
}
.eventCard.unavailable:active { background: #8a181a }

#boardContainer > .eventCardFull,
#contingencyWrapper
{ width: 17% }
.eventCardFull
{
	padding-bottom: 3px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: hidden;
}
.eventCardFull h5
{
	display: inline;
	font-size: 12px;
	font-weight: 400;
	padding: 5px 2px 2px 2px;
	background-color: #000;
	color: #fff;
	border-bottom-right-radius: 5px;
}
.eventCardFull h3 { margin-top: -2px; padding-bottom: 5px }
.eventCardFull img { border-top: 2px solid #000 }
.eventCardFull img,
.eventCardFull > p:first-of-type
{ border-bottom: 2px solid #000 }
.eventCardFull > p { padding: 2px 5px }
.eventCardFull > p:first-of-type
{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 0;
	margin-bottom: 3px;
}
#disabledEventCardTooltip { width: 300px }
#contingencyWrapper
{
	padding: 8px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#contingencyWrapper > h2
{
	font-size: 16px;
	color: #000;
}
#contingencyWrapper > .eventCardFull
{
	width: 100%;
	border: 1px solid #fff;
}
.pawnArrow.airlift > div,
.airlift:not(.pawnArrow),
#resilientPopulationArrow > div,
#governmentGrantArrow > div,
.eventArrow
{
	background: linear-gradient(to bottom right, 
		#fff,
		gray,
		#fff,
		gray,
		#fff,
		gray,
		#fff,
		gray) !important
}

#topPanel,
.bottomPanelDiv:not(#cureMarkerContainer)
{
	position: absolute;
	background-color: #252525;
}
#topPanel > div
{
	display: inline-block;
	vertical-align: top;
}

#eventHistoryContainer
{
	width: 27.5%;
	border: 1px solid #fff;
	border-left: none;
	border-bottom: none;
}
#eventHistoryContainer > div
{
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #fff;
}
.eventHistoryButton
{
	width: 6%;
	background-color: #0c658b;
	text-align: center;
	font-size: 18px;
}
#btnUndo
{
	width: 9%;
	font-size: 26px;
	font-weight: 700;
}
.eventHistoryButton:hover
{
	cursor: pointer;
	background-color: #1282b3;
}
.eventHistoryButton.btnDisabled { background-color: #064058 }
.eventHistoryButton.btnDisabled:hover
{
	cursor: default;
	background-color: #064058 !important;
}
#btnUndo.btnDisabled:hover { cursor: not-allowed }
.eventHistoryButton:not(.btnDisabled):active { color: #0c658b }
#eventHistory
{
	width: 79%;
	white-space: nowrap;
	overflow: hidden;
	border-top: none;
	border-bottom: none;
}
#eventHistory > div
{
	display: inline-block;
	width: 15%;
	height: 99%;
	margin: 1px;
	margin-left: 0;
	border-radius: 20%;
	overflow: hidden;
}
#eventHistory img
{
	width: 100%;
	height: 100%;
}
.wideTooltip { width: 24% }
.tooltip > .content
{
	background-color: #252525;
	padding: 4px;
}
.tooltip  p { margin: 4px 0 }
.tooltip .warning { font-size: 25px; vertical-align: super; }

.eventTypeTooltip
{
	pointer-events: none;
}
.eventTypeTooltip h3
{
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}
.eventTypeTooltip .actionNotPossible
{
	color: #666;
	text-align: center;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px 0;
}
.eventTypeTooltip p
{
	margin-top: 3px;
	line-height: 16px;
}
.eventTypeTooltip h3 + p
{
	border-top: 1px solid #fff;
	padding-top: 5px;
}
.eventTypeTooltip .specialAbilityRule
{
	margin-top: 10px;
	border-top: 1px dashed #fff;
	padding-top: 5px;
}
.eventDetails
{
	font-size: 16px;
	background-color: transparent;
}
.eventDetails .title
{
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	margin-bottom: 3px;
}
.eventDetails  .title > .eventTypeInfo
{
	float: right;
	font-size: 14px;
	line-height: 20px;
	margin-left: 5px;
}
.eventDetails  .title > .eventTypeInfo:hover,
#topPanel .info:hover,
.bottomPanelDiv .info:hover
{ text-shadow: 0px 0px 3px #fff }
.eventDetails .playerCard
{
	margin: 2px 0;
	width: 100%;
}

.eventDetails .cubes { white-space: nowrap }
.eventDetails .diseaseCube
{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	margin-bottom: 3px;
}
.eventDetails .cubes > * { vertical-align: middle }
.eventDetails .locatable:hover { text-decoration: underline }
.eventDetails .infectionCard
{
	font-size: 14px;
	margin-bottom: 8px;
}
.eventDetails .infectionCard .cityName
{
	top: 3px;
	white-space: nowrap;
	margin-left: 18%
}

.eventDetails .column
{
	display: inline-block;
	vertical-align: top;
}
.eventDetails .column:first-of-type p:first-of-type { margin-top: 18px; }
.eventDetails .column:last-of-type { padding-left: 2px }
.eventDetails .column:last-of-type p:first-of-type { border-bottom: 1px solid #fff }
.eventDetails .hand { padding: 5px 0 }
.eventDetails .populationRank
{
	font-size: 22px;
	position: absolute;
}

.indent-1,
.eventTypeTooltip li 
{ margin-left: 12px }
.indent-2 { margin-left: 30px }

#cureMarkerContainer
{
	width: 20.3%;
	left: 29.8%;
	border: none;
}
#cureMarkerContainer .title
{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	border-bottom: 1px solid #00a94f;
}
#cureMarkerContainer .infoContainer
{
	display: block;
	margin-bottom: -3px;
}
#cureMarkerContainer .info
{
	font-size: 14px;
	vertical-align: text-bottom;
}
.cureMarker
{
	position: absolute;
	width: 6%;
	z-index: 2;
}
#cureMarkerY { margin-left: 29.65% }
#cureMarkerR { margin-left: 34.65% }
#cureMarkerU { margin-left: 39.64% }
#cureMarkerB { margin-left: 44.2% }
.bottomPanelDiv
{
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	z-index: 2;
}
#researchStationSupplyContainer
{
	width: 16%;
	left: 52%;
}
#researchStationSupplyContainer .title
{
	margin-bottom: 6px;
}
#researchStationSupplyContainer > *:not(.title)
{
	vertical-align: middle;
}
#researchStationSupplyContainer .researchStation
{
	display: inline-block;
	width: 20%;
	margin-left: 5%;
}
.smallGlow, .mediumGlow, .bigGlow { transition: filter 0.5s }
.smallGlow { filter: drop-shadow(0px 0px 2px #fff) }
.mediumGlow { filter: drop-shadow(0px 0px 6px #fff) }
.bigGlow { filter: drop-shadow(0px 0px 10px #fff) }
#researchStationSupplyCount
{
	display: inline-block;
	color: #fff;
	margin-left: 31.5%;
}
#playerDeckContainer
{
	width: 14%;
	left: 68%;
}
#playerDeckContainer img
{
	width: 40%;
	margin: 5px 30% 0 30%;
}
#playerDiscardContainer
{
	width: 18%;
	left: 82%;
	z-index: 7;
}
#removedPlayerCards
{
	border-top: 1px solid #fff;
	margin-top: 10px;
}
#topPanel
{
	width: 36%;
	left: 44%;
	overflow-y: hidden;
}
#topPanel > div
{
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}
#topPanel .title, #infectionDiscardContainer .title, .bottomPanelDiv .title
{
	font-size: 16px;
	text-align: center;
	padding-top: 3px;
	border-bottom: 1px solid #fff;
}
#cubeSupplies { width: 56% }
#topPanel .info,
.bottomPanelDiv .info
{
	font-size: 12px;
	vertical-align: text-top;
}
.cubeSupply
{
	display: inline-block;
	width: 25%;
}

.cubeSupply p, #researchStationSupplyCount
{
	font-family: 'B612 Mono', monospace;
}
.cubeSupply p
{
	font-size: 18px;
	text-align: center;
	margin-top: -3px;
}
.cubeSupply .diseaseCube
{
	width: 64%;
	margin: 0 18%;
}
#infectionDeckContainer { width: 44% }
#infectionDeckContainer img
{
	z-index: 4;
	width: 36%;
	border-radius: 100%;
	margin: 1.5% 32% 0.5% 32%;
}
#infectionDiscardContainer
{
	position: absolute;
	left: 80%;
	width: 20%;
	background-color: #252525;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	z-index: 9;
}
#removedInfectionCards
{
	margin-top: 10px;
	border-top: 1px solid #fff;
}

#infDiscardVeil { position: absolute; background-color: #252525; z-index: 10;}
.infDiscardCardback, .forecastCardback
{
	position: absolute;
	width: 10.6%;
	opacity: 0.1;
}
.drawnInfectionCard, .infDiscardCardback, .forecastCardback { pointer-events: none }
.drawnInfectionCard, .drawnPlayerCard {position: absolute;z-index: 10;}
.marker { position: absolute }
.marker > img { width: 100% }
#infectionRateMarker
{
	top: 18.4%;
	left: 63.96%;
	width: 3.15%;
}
.infectionRateHighlight, .outbreaksHighlight
{
	position: absolute;
	background-color: #000;
	z-index: 10;
	opacity: 0.5;
}
.infectionRateHighlight.top
{
	width: 100%;
	height: 17.8%;
}
.infectionRateHighlight.right
{
	top: 17.8%;
	height: 9.6%;
	left: 89.5%;
	width: 10.5%;
}
.infectionRateHighlight.left
{
	top: 17.8%;
	height: 9.6%;
	width: 63.6%;
}
.infectionRateHighlight.bottom
{
	width: 100%;
	top: 27.4%;
	height: 72.6%;
}
#outbreaksMarker
{
	transform: rotate(45deg);
	top: 54.4%;
	left: 2.8%;
	width: 3%;
}
.outbreaksHighlight.top
{
	width: 100%;
	height: 50.4%;
}
.outbreaksHighlight.right
{
	top: 50.4%;
	height: 49.6%;
	left: 10.3%;
	width: 89.7%;
}
.outbreaksHighlight.bottom
{
	top: 95%;
	height: 5%;
	width: 10.3%;
}
#outbreaksTrackHighlight
{
	position: absolute;
	z-index: 10;
	background-color: #8a181a;
	top: 50.4%;
	width: 10.3%;
	height: 44.6%;
}

#rightPanel, .infectionCardContents {width: 19.5%;}
#rightPanel
{
	float: right;
	border-left: 1px solid #fff;
}
#rightPanel .tooltip { max-width: 180px }
.scrollable { overflow-y: scroll }
#indicatorContainer
{
	padding: 2px 7px;
	border-bottom: 2px solid #4ec6e1;
	background-color: #353535;
	border: none;
	overflow: hidden;
}
#indicatorContainer span:not(.roleTag, .disabled) {margin-left: 15px;}
#indicatorContainer
{
	text-align: center;
}
#indicatorContainer > * {margin-bottom: 4px}
#turnIndicator
{
	font-size: 16px;
}
#roleIndicator
{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	height: 26px;
}
#stepIndicator .info
{
	font-size: 14px;
	float: left;
}
#stepIndicator .info + span { margin-left: -14px }
#roleIndicator,
.playerPanel .role
{ font-family: 'Oswald', 'Electrolize', sans-serif }

.action:not(.step), .destination
{
	display: block;
	padding: 5px;
	border: 1px solid #4ec6e1;
	border-top: none;
}
.infectionStatus
{
	padding: 5px 0;
	text-align: center;
	background-color: #252525;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}
.infectionStatus p:first-of-type{font-size: 22px;}
.groupInfRate
{
	display: inline-block;
	width: 100%;
	margin: 8px 0;
	padding: 0;
}
.infectionCard
{
	width: 100%;
	margin-bottom: 5px;
}
#infectCitiesContainer > .infectionCard,
#infectCitiesContainer > .btnContinue
{ margin-top: 20px }
.infectionCardContents { position: relative }
.infectionCard *
{
	position: absolute;
	pointer-events: none;
}
.infectionCardImg
{
	width: 100%;
}
.cityName
{
	margin-left: 20%;
	color: #000;
	font-family: 'Audiowide', 'Electrolize', sans-serif;
	font-weight: 700;
}
.veil
{
	width: 89.52%;
	left: 10.48%;
	z-index: 5;
}
#infectionDiscardContainer .infectionCard
{
	display: block;
	padding-left: 1%;
	width: 100%;
	margin-top: 2px;
}
#infectionDiscardContainer .infectionCardContents { width: 100% }
#epidemicContainer .btnDisabled { cursor: progress }
#epidemicContainer > .epidemicFull
{
	width: 98%;
	overflow: hidden;
}
#boardContainer > .epidemicFull
{
	width: 250px;
	pointer-events: none;
}
#boardContainer > .epidemicFull > div
{ background: transparent }
.epidemicFull h2
{
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
	border-bottom: 2px solid #fff;
}
.epidemicFull.pending h2 { border-bottom: none }
.epidemicFull > div
{
	padding: 10px;
	background-color: #007034;
	transition: background-color 0.5s;
}
.epidemicFull > div.highlighted
{
	background-color: #00a94f;
	transition: background-color 0.5s;
}
.epidemicFull h3 { font-size: 16px }
#epidemicContainer .epidemicFull > div:not(.highlighted) h3
{
	color: rgb(189, 189, 189);
}
.epidemicFull p
{
	font-size: 12px;
	font-weight: 700;
	padding: 3px 0 0 12px;
	color: yellow;
}
#epidemicContainer .epidemicFull > div:not(.highlighted) p { color: rgb(172, 172, 1) }
#playerPanelContainer
{
	width: 44.3%;
}
.playerPanel
{
	vertical-align: top;
	margin-right: 1%;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #353535;
	margin-left: -1px;
	overflow: hidden;
	position: relative;
	z-index: 6;
}
.playerPanel-2 { width: 49.1% }
.playerPanel-2 .role,
.playerPanel-3 .role
{ font-size: 18px }
.playerPanel-3 { width: 32.4% }
.playerPanel-4 { width: 24.1% }
.playerPanel-4 .role { font-size: 14px }
#playerPanelContainer .playerPanel:not(.hidden) { display: inline-block }
.playerPanel.transparent { opacity: 0.4 }
.playerPanel.transparent:hover,
.playerPanel.transparent.collapsed{ opacity: 1 }
.transparent,
.playerPanel:not(.transparent)
{ transition: opacity 0.4s }

.name, .role
{
	width: 100%;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
}
.name
{
	font-family: 'Ropa Sans', sans-serif;
	line-height: 14px;
}
.role
{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.role *:not(.playerCard.eventCard.contingency)
{
	pointer-events: none;
	line-height: 24px;
}
.btnCollapseExpand
{
	background-color: #353535;
}
.btnCollapseExpand > .numCardsInHand
{
	font-size: 14px;
	font-family: 'Ropa Sans', sans-serif;
	padding: 3px 0;
}
.btnCollapseExpand > div
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	line-height: 12px;
	
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); /* Safari */
	-moz-transform: rotate(-90deg); /* Firefox */
	-ms-transform: rotate(-90deg); /* IE */
	-o-transform: rotate(-90deg); /* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}
.btnCollapseExpand > *
{
	pointer-events: none;
}
.btnCollapseExpand:hover
{
	background-color: #444;
	cursor: pointer;
}
.playerCard,
.epidemicFull > h2,
.eventCardFull > h3
{ font-family: 'Audiowide', 'Electrolize', sans-serif; }
.playerCard
{
	width: 98%;
	text-align: center;
	white-space: nowrap;
	margin: 2px 1%;
	border: none;
	font-size: 14px;
	overflow: hidden;
}
.playerCard
{
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.playerCard:not(.b):not(.eventCard):not(.epidemic):not(.template),
.infectionCard:not(.template),
.playerPanel .role *:not(.eventCard),
#roleIndicator,
.roleTag
{ cursor: url("images/target_black.png"), auto }
.playerCard.b,
.eventDetails .locatable { cursor: url("images/target_white.png"), auto }
.playerCard:not(.b):not(.eventCard):not(.epidemic):not(.template):hover,
.infectionCard:not(.template):hover .cityName,
.playerPanel .role *:not(.eventCard):hover,
#roleIndicator:hover,
.roleTag:not(.playerOption):hover,
.playerCard.b:hover,
.eventDetails .locatable:hover
{ text-decoration: underline; }
.playerCard * { pointer-events: none }
.playerPanel > .playerCard:first-of-type { margin-top: 4px }
.playerPanel .playerCard.eventCard:not(.unavailable) { cursor: pointer }
#cardDrawContainer .playerCard
{
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: 700;
	overflow: hidden;
}
#cardDrawContainer .playerCard,
.epidemicFull
{
	margin: 20px 1%;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#cardDrawContainer > h2
{
	font-family: 'Oswald', 'Electrolize', sans-serif;
	font-size: 28px;
	text-align: center;
}
.discardPrompt { padding: 0 5% 5px 5% }
.cardsToKeep > .instructions
{
	font-size: 14px;
	margin-bottom: 5px;
	border-bottom: 1px solid #fff;
}
.discardPrompt p span
{
	float: right;
	padding: 0 2px;
}
.discardPrompt .playerCard
{
	margin-bottom: 3px;
	cursor: pointer !important;
}
.discardSelections > p
{
	margin-left: 3%;
	margin-bottom: 3px;
}
.discardPrompt .discardSelections
{
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 45px;
}
.discardSelections .specialAbilityTag { width: 94% }
.discardPrompt .cardsToKeep
{
	min-height: 45px;
	padding-bottom: 3px;
}
.cardsToKeep .playerCard:last-of-type { margin-bottom: 0 !important }
.btnConfirm { margin: 5px }
.btnConfirmAction { margin: 10px 0 }
.scientist:not(.pawnArrow),
.pawnArrow.scientist > div
{
	background-image: linear-gradient(to bottom, #f6f6f7, #9ccdd1);
	color: #000;
}
.roleCard.scientist{ background-image: linear-gradient(to top, #f6f6f7, #9ccdd1) }
.scientistBorder { border: 2px solid #f6f6f7 }

.researcher:not(.pawnArrow),
.pawnArrow.researcher > div
{ background-image: linear-gradient(to bottom, #966c4b, #2a2017) }
.researcherBorder { border: 2px solid #574319 }

.quarantineSpecialist:not(.pawnArrow),
.pawnArrow.quarantineSpecialist > div
{ background-image: linear-gradient(to bottom, #398044, #043d0a) }
.quarantineSpecialistBorder { border: 2px solid #006951 }

.operationsExpert:not(.pawnArrow),
.pawnArrow.operationsExpert > div,
#btnOperationsFlight
{ background-image: linear-gradient(to bottom, #aad37a, #407f48) }
.operationsExpertBorder { border: 2px solid #8dc73f }

.medic:not(.pawnArrow),
.pawnArrow.medic > div,
.autoTreatCircle
{ background-image: linear-gradient(to bottom, #ffb55c, #c56023) }
.autoTreatCircle
{
	position: absolute;
	clip-path: circle();
	opacity: 0;
	z-index: 1;
}
.medicBorder { border: 2px solid #f68426 }

.dispatcher:not(.pawnArrow),
.pawnArrow.dispatcher > div,
.pawnArrow.dispatch > div,
.dispatch:not(.pawnArrow),
#btnDispatchPawn
{ background-image: linear-gradient(to bottom, #ec84b5, #964967) }
.dispatcherBorder { border: 2px solid #ec84b5 }

.contingencyPlanner:not(.pawnArrow),
.pawnArrow.contingencyPlanner:not(.dispatch) > div,
#btnPlanContingency,
#contingencyWrapper
{ background-image: linear-gradient(to bottom, #76d9da, #0b6f90) }
.role.contingencyPlanner > .playerCard
{
	font-family: 'Audiowide', 'Electrolize', sans-serif;
	border: 1px solid #fff;
}
.contingencyPlannerBorder { border: 2px solid #67c8c6 }

.roleCard
{
	width: 17%;
	border-radius: 8px;
}
.roleCard,
#boardContainer > .eventCardFull,
#boardContainer > .epidemicFull,
#contingencyWrapper,
.tooltip
{
	position: absolute;
	z-index: 12;
	filter: drop-shadow(0px 0px 6px #000);
	font-size: 14px;
}
.roleCard,
.eventCardFull { font-size: 14px }
.roleCard h3
{
	margin-top: 8px;
	padding: 2px 0;
	background-color: #fff;
	color: #000;
}
.roleCard h3,
.eventCardFull h3
{
	font-size: 18px;
	text-align: center;
}
.rolePortrait { border-bottom: 2px solid #fff }
.rolePortrait,
.eventCardFull img
{
	display: block;
	width: 100%;
}
.roleCard ul,
.eventCardFull h5,
.eventCardFull p { font-family: 'Ropa Sans', sans-serif }
.roleCard ul
{
	list-style: inside;
	padding: 4%;
	padding-left: 14%;
}
.roleCard li
{
	text-indent: -12%;
	padding-bottom: 5px;
}
.roleCard li span
{
	position: relative;
	left: -5%;
}
.button
{
	width: 75%;
	text-align: center;
	font-family: 'Exo 2';
	padding: 5px 0;
	margin-left: 12.5%;
	background-color: #0e7aa8;
	cursor: pointer;
}
#cardDrawContainer .button,
#infectCitiesContainer .button,
#epidemicContainer .button
{
	margin-top: 12.5%;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}

.button-secondary-color { background-color: #1799d1 }
.button.flashing,
.button-secondary-color { transition: background-color 0.6s }

.button:hover,
.btnSkip:hover,
#btnUndo:hover
{ background-color: #1799d1 }
.button:not(.flashing),
.button:hover,
.btnSkip:hover,
#btnUndo:hover
{ transition: background-color 0.2s }
.button * { pointer-events: none }
.disabled, .btnDisabled, .scientist.button.btnDisabled
{
	color: #777;
}
.btnDisabled
{
	background-color: #064058;
}
.btnDisabled:hover { background-color: #064058 }
.actionCategory h2
{
	font-size: 18px;
	margin: 10px 0 0 2px;
}
.actionButton,
.actionPromptOption
{
	width: 100%;
	margin: 0 0 2px 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
}
.actionCategory > .btnDisabled:not(.wait)
{ cursor: default }
.wait { cursor: wait }
.actionButton * { display: inline-block }
.actionButton *:not(.actionInfo)
{
	vertical-align: middle;
	pointer-events: none;
}
.actionButton > .actionIcon
{
	width: 16.5%;
	padding: 2px 0;
	margin: 0 2%;
}
.actionIcon img
{
	width: 96%;
	padding: 0 2%;
	border-radius: 15%;
}
.actionName
{
	width: 65.5%;
	text-align: left;
}
.actionInfo
{
	width: 6%;
	margin: 0 2%;
	font-size: 14px;
	pointer-events: all;
}
.actionButton:not(.btnDisabled) .actionInfo:hover
{
	color: #000;
	cursor: pointer;
}
.btnDisabled .actionInfo:hover { color: #fff }

.specialAbilityRule::before
{
	content: "* ";
}
.button.scientist .specialAbilityRule
{
	color : #000;
	border-color: #000;
}
#actionPrompt,
#discardStepContainer > .discardPrompt
{ background: linear-gradient(to bottom, #09154f, #054583, #09154f) }
#actionPrompt { padding-bottom: 5px }
.actionTitle { padding: 5px; }
.actionTitle *
{
	display: inline-block;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 5px #1799d1);
}
.actionTitle > h2
{
	width: 80%;
	font-size: 24px;
	font-family: 'Exo 2', sans-serif;
	padding-left: 2%;
}
.actionTitle > .actionIcon
{
	width: 20%;
	border-radius: 15%;
}
.actionTitle + .instructions { border-top: 2px solid #fff }
#actionInterface { font-family: 'Ropa Sans' }
#actionInterface > .rules
{
	padding: 8px 2% 0 2%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
#actionInterface > .rules > p
{
	text-align: left;
	padding: 0 1%;
	margin-bottom: 8px;
}
.rules > p.specialAbilityRule
{
	border-top: 1px dashed #fff;
	padding-top: 7px !important;
}
#actionInterface > .rules li { margin-left: 3% }
#actionInterface > .playerCard { cursor: pointer }
#actionInterface .instructions 
{
	padding: 3%;
	padding-bottom: none;
}
#actionInterface .instructions + .discardSelections { margin-top: -2.5% }
#actionInterface .eventCardFull + .instructions { text-align: center }
#actionPrompt .playerCard
{
	font-size: 18px;
	width: 94%;
	margin: 0 3% 5px 3%;
}
#actionPrompt .eventCardFull
{
	display: inline-block;
	width: 70%;
	margin: 5px 15%;
}
.discardPrompt .playerCard { margin-bottom: 5px; }
.actionPromptOption
{
	font-size: 20px;
	margin-bottom: 5px;
	padding: 2px 0;
}
#btnCancelAction
{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: 'Exo 2';
	font-size: 15px;
	cursor: pointer;
}
#btnCancelAction > * { vertical-align: middle }
#btnCancelAction span:first-of-type
{
	font-size: 22px;
	font-weight: 700;
	margin: 0 6.5%;
}
#actionInterface .diseaseCube
{
	display: inline-block;
	width: 25%;
	margin-left: 5%;
	cursor: pointer;
}
.actionInterfaceDivision
{
	text-align: center;
	font-size: 18px;
	padding: 20px 0 7px 0;
	width: 100%;
	margin-top: 10px;
	border: none;
	background-color: #09154f !important;
	filter: drop-shadow(0px 0px 3px #fff);
}
.actionInterfaceDivisionLine
{
	width: 96%;
	height: 1px;
	background-color: #fff;
	z-index: 1;
	margin: 0 2% -17px 2%;
}
.actionInterfaceDivision h2
{
	z-index: 2;
	background-color: #09154f !important;
	width: 17%;
	margin-left: 41.5%;
	font-family: 'Exo 2', sans-serif;
	font-size: 26px;
}
.actionInterfaceDivision + .discardSelections { margin-top: 3% }
.diseaseColorOption
{
	display: inline-block;
	margin: 2px;
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
}

.shareableCards
{
	width: 94%;
	margin: 0 3%;
	padding: 5px 1%;
	background-color: #353535;
}
.actionInterfaceDivision + .shareableCards { margin-top: 10px }

.shareableCards > p
{
	border-bottom: 1px solid #494949;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.shareableCards .playerCard { cursor: pointer !important }
.btnRelocateStation
{
	width: 98%;
	margin: 1%;
}
.btnRelocateStation img
{
	width: 20px;
	float: left;
	margin: -2px -30px 0 10px;
}

.shareableCards p
{
	text-align: center;
	line-height: 22px;
}

.roleTag
{
	padding: 1px 3px;
	border-radius: 3px;
	white-space: nowrap;
}
.playerOptions { padding: 0 3%; }
.playerOptions .roleTag
{
	display: block;
	text-align: center;
	border-radius: 0;
	margin-bottom: 5px;
	cursor: pointer;
}
.specialAbilityTag
{
	text-align: center;
	padding: 1px 3px;
	border-radius: 3px;
}
.hoverInfo:not(.concealed)
{
	font-family: sans-serif;
	font-weight: 700;
	border-bottom: 1px dashed #67acc8;
	cursor: help;
}
sup {font-size: xx-small; vertical-align: top; margin-left: 1px; padding: 0 1px }
#specialEventBanner
{
	position: absolute;
	z-index: 10;
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding: 1%;
}
.specialEventDetails
{
	font-size: 24px;
}
.specialEventImg
{
	position: absolute;
	width: 8%;
	left: 46%;
	z-index: 10;
}

.procedureContainer
{
	padding: 5px 3%;
	font-size: 14px;
	border: 1px solid #fff;
	margin: 1%;
	margin-top: 0;
	background-color: #043d77;
}
.procedureContainer > *
{
	padding: 1px 3px;
	color: #aaa;
}
.procedureContainer .title
{
	font-size: 15px;
	border-bottom: 1px solid #fff;
	margin-bottom: 3px;
	color: #fff;
}
.procedureContainer .substep
{
	margin-left: 6%;
	font-size: 13px;
}
.procedureContainer .highlighted
{
	color: #fff;
	font-size: 15px;
	filter: drop-shadow(0px 0px 3px #1799d1);
}

#quarantineArea
{
	background-image: url("images/quarantineArea.jpg");
	z-index: 2;
	opacity: 0;
}

#forecastContainer { margin-bottom: 10px }
#forecastContainer, #forecastContainer .veil { background-color: #252525 }
#forecastContainer .concealed { color: #252525; border: none }
#forecastContainer > p
{
	text-align: center;
	padding: 5px 0;
}

#setupProcedureContainer { margin-bottom: -2px }
#setupProcedureContainer .highlighted { font-size: 16px }
#setupContainer h4
{
	padding: 5px;
	margin-bottom: 10px;
	font-weight: 400;
}
#skipSetupButtons
{
	margin: 0 1% 10px 1%;
	border: 1px solid #fff;
	border-top: none;
}
.btnSkip
{
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 13px;
	font-family: 'Ropa Sans', sans-serif;
	background-color: #1282b3;
	padding: 2px 8px;
	cursor: pointer;
}
#btnSkipSetup { border-left: 1px solid #fff }
.btnSkip.btnDisabled { border: none; cursor: progress }
#skippingSetupMsg { margin-top: 200px }
#roleSetupContainer, #preparePlayerDeckContainer
{
	padding: 2% 12%;
}
#roleSetupContainer .name
{
	border-bottom: none;
}
#roleSetupContainer .role
{
	text-align: center;
	border: none;
}
.roleContainer { margin-bottom: 20px }
.slotMachine
{
	overflow: hidden;
	border-radius: 2px;
	text-align: center;
}
.slotMachineOption
{
	border-bottom: 1px solid #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.slotMachine .selectionWindow
{
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	z-index: 5;
}
.slotMachineShadow, .slotMachine .selectionWindow
{
	position: absolute;
	width: 14.75%;
}
.slotMachineShadow
{
	background: linear-gradient(to bottom,
		rgba(0, 0, 0, .9),
		rgba(0, 0, 0, .6),
		rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .6),
		rgba(0, 0, 0, .9))
}
.slotMachine, .slotMachineShadow { height: 100px; }

.roleContainer .playerCard,
.playerCard.drawing
{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.playerCard.drawing { transition: height, line-height, font-size 0.5s }
.roleContainer .playerCard
{
	width: 92%;
	margin-left: 4%;
	margin-bottom: 4px;
}
.playerCard .population
{
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-family: 'B612 Mono', monospace;
}
.popRank
{
	position: absolute;
	font-size: 20px;
	font-family: 'B612 Mono', monospace;
	font-weight: 400;
	z-index: 8;
}
#roleSetupContainer .playerPanel
{
	width: 100%;
	border: 1px solid #fff;
}

#preparePlayerDeckContainer > div
{
	margin-bottom: 60px;
}
#preparePlayerDeckContainer .playerCard
{
	height: 24px;
	line-height: 24px;
	font-size: 16px;
}
#preparePlayerDeckContainer img
{
	width: 24px;
}